<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

  <title layout:fragment="title">파일 확장자 차단 서비스</title>

  <th:block layout:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/main.css}">
  </th:block>
</head>

<body>
  <div class="app">

    <header class="header">
      <div class="header-inner">
        <div class="brand" role="link" th:onclick="|location.href='@{/}'|">
          <div class="brand-badge" aria-hidden="true"></div>
          <div>
            파일 확장자 차단 서비스
            <small>플로우 개발 과제</small>
          </div>
        </div>

        <th:block th:if="${session.loginUserName == null}">
            <form th:action="@{/login}" method="post">
            <div class="header-actions">
                <div id="login-panel" class="login-panel" aria-hidden="true">
                    <input id="login-id" type="text" placeholder="아이디" name="id"/>
                    <input id="login-pw" type="password" placeholder="비밀번호" name="pwd"/>
                </div>
            </div>
            <button type="submit" class="btn primary login-btn">로그인</button>
            </form>
        </th:block>

        <th:block th:if="${session.loginUserName != null}">
            <div class="header-actions">
                <p th:text="|${session.loginUserName}님, 환영합니다.|"></p>
            </div>
            <form th:action="@{/logout}" method="get">
            <button type="submit" class="btn primary login-btn">로그아웃</button>
            </form>
        </th:block>
      </div>
    </header>

    <div class="content">
      <aside class="sidebar">
        <div class="sidebar-title">메뉴</div>
        <nav class="nav">
          <a th:href="@{/block}">확장자 차단</a>
          <a th:href="@{/upload}"href="#">파일 업로드</a>
        </nav>
      </aside>

      <main class="main" layout:fragment="content"></main>
    </div>
  </div>

  <th:block layout:fragment="pageScript"></th:block>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</body>
</html>
